<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">HOME</a></li>
                <li class="main-header__item"><a href="/">HOME</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Orders</h1>
        <p>List Of All Orders....</p>   
    </main>
</body>
</html>