doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="/css/user.css")
    body 
        header.main-header 
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") HOME
                    li.main-header__item
                        a(href="/add-order") ADD ORDER
                    li.main-header__item
                        a(href="") ADMIN ORDERS    
        main     
             div.bg
                h1 SHRI KRISHNA ENTERPRISES
                h2 GST - 
                h2 PAN -
                p ADDRESS
        footer
            p Author: Hege Refsnes
            p 
                a(href="mailto:hege@example.com") hege@example.com            